{
	"converse" : 
	{
		"nicemice_npc" : 
		{
			//For better or worse, M.A.U.S. personnel keep it short and to the point unless you outrank them
			
			"default" : 
			[
				"Velcome aboard, vizitor.",
				"I'm ze captain of ziz zhip. Zhe'z beautiful, non?",
				"It'z a good day to be ze captain.",
				"Vhat buzinezz do you have here, vizitor?",
				"M.A.U.S. Velcomez you."
			],
			
			"nicemice" : 
			[
				"Adjutant! Long time no zee!",
				"I hope your mizzion iz going vell, Adjutant. Velcome aboard.",
				"Adjutant - your prezenze here is mozt auzpiciouz. Pleaze rezt and regroup vith uz.",
				"Aha, velcome Adjutant! Rare to zee anot'er captain on deck- velcome!",
				"Ve'll be departing zoon. I'll zend your regardz to command, Adjutant. In ze meantime, make yourzelf at home."
			]
		}
	},
	
	"debug" : 
	{
		"nicemice_npc" : 
		{
			"default" : 
			[
				"owo"
			]
		}
	}
}