{
	"converse" : 
	{
		"nicemice_npc" : 
		{
			//For better or worse, M.A.U.S. personnel keep it short and to the point unless you outrank them
			
			"default" : 
			[
				"Ekzcuze moi.",
				"Not now, maintaining ze enginez.",
				"Engineerink deckz are reztricted areaz, vizitor.",
				"Anot'er day, anot'er flawlezz engine ztatuz report.",
				"Can't talk right now, zorry."
			],
			
			"nicemice" : 
			[
				"Engineerink on deck, Adjutant!",
				"Adjutant!",
				"Engineerink offizer reportink for duty, Adjutant!",
				"Engine trouble, Adjutant?",
				"Alvayz on duty, Adjutant!"
			]
		}
	}
}