{
	"converse" : 
	{
		"nicemice_npc" : 
		{
			//Placeholder defaults here just in case the NPC triggers non-merchant dialog for some reason
			
			"default" : 
			[
				"Vizitor, I have zurpluz zuppliez you may find uzeful."
			],
			
			"nicemice" : 
			[
				"Ve have zurpluz zuppliez zat may be uzeful to you, Adjutant!"
			]
		}
	}
}