{
	"converse" : 
	{
		"nicemice_npc" : 
		{
			//For better or worse, M.A.U.S. personnel keep it short and to the point unless you outrank them
			
			"default" : 
			[
				"Yez?",
				"I can't help you. You'll need to zpeak vith ze quartermazter.",
				"Pleaze adhere to pozted varningz, vizitor.",
				"Zorry, I have vork to do.",
				"Pleaze direct any inquiriez to zomeone whoze uniform includez a hat."
			],
			
			"nicemice" : 
			[
				"Glad to zee you, Adjutant!",
				"Adjutant!",
				"Reportink for duty, Adjutant!",
				"How may I azzizt, Adjutant?",
				"I'm all earz, Adjutant!"
			]
		}
	}
}