{
	"converse" : 
	{
		"nicemice_npc" : 
		{
			//For better or worse, M.A.U.S. personnel keep it short and to the point unless you outrank them
			
			"default" : 
			[
				"Velcome aboard, vizitor.",
				"I'm ze captain of ziz zhip. Zhe'z beautiful, non?",
				"It'z a good day to be ze captain.",
				"Vhat buzinezz do you have here, vizitor?",
				"M.A.U.S. Velcomez you."
			],
			
			"nicemice" : 
			[
				"Adjutant! Long time no zee!",
				"I hope your mizzion iz going vell, Adjutant. Velcome aboard.",
				"Adjutant - your prezenze here is mozt auzpiciouz. Pleaze rezt and regroup vith uz.",
				"Aha, velcome Adjutant! Rare to zee anot'er captain on deck- velcome!",
				"Ve'll be departing zoon. I'll zend your regardz to command, Adjutant. In ze meantime, make yourzelf at home."
			]
		}
	},
	
	"debug" : { "default" : { "default" : [ "owo" ] } },
	"debug_combat_leap" : { "default" : { "default" : [ "leaping" ] } },
	"debug_combat_atk" : { "default" : { "default" : [ "atk" ] } },
	"debug_combat_atk_resource" : { "default" : { "default" : [ "resource" ] } },
	"debug_combat_atk_range" : { "default" : { "default" : [ "range" ] } },
	"debug_combat_atk_parallel" : { "default" : { "default" : [ "parallel" ] } },
	"debug_combat_atk_ongroundfail" : { "default" : { "default" : [ "onground fail" ] } },
	"debug_combat_atk_rangefail" : { "default" : { "default" : [ "range fail" ] } },
	"debug_combat_atk_whipfail" : { "default" : { "default" : [ "whip fail" ] } },
	"debug_combat_atk_timerfail" : { "default" : { "default" : [ "timer fail" ] } },
	"debug_combat_atk_complete" : { "default" : { "default" : [ "complete" ] } }
}