{
	"converse" : 
	{
		"nicemice_npc" : 
		{
			//For better or worse, M.A.U.S. personnel keep it short and to the point unless you outrank them
			
			"default" : 
			[
				"Vizitor.",
				"If you have queztionz about mech parkink, zpeak to ze quartermazter.",
				"Vizitor, have you zeen a large wrench layink around here somevhere?",
				"Like ze mechz on ziz zhip? I maintain zem.",
				"I've got vork to do, zorry."
			],
			
			"nicemice" : 
			[
				"Great to zee you, Adjutant!",
				"Adjutant!",
				"Mechanized armamentz offizer reportink for duty, Adjutant!",
				"Need a lift, Adjutant?",
				"Unitz at ze ready, Adjutant!"
			]
		}
	}
}