{
	"converse" : 
	{
		"nicemice_npc" : 
		{
			//For better or worse, M.A.U.S. personnel keep it short and to the point unless you outrank them
			
			"default" : 
			[
				"Greetinkz, vizitor.",
				"Check vith ze quartermazter for medical cabinet clearanze.",
				"Turn your head and cough.",
				"Let me know if you need healink.",
				"I'm one of ze medicz on ziz zhip. Are you feeling alright?"
			],
			
			"nicemice" : 
			[
				"Glad to zee you, Adjutant!",
				"Adjutant!",
				"Medical offizer reportink for duty, Adjutant!",
				"Feeling alright, Adjutant?",
				"Healz at ze ready, Adjutant!"
			]
		}
	}
}