{
	"converse" : 
	{
		"nicemice_npc" : 
		{
			//For better or worse, M.A.U.S. personnel keep it short and to the point unless you outrank them
			
			"default" : 
			[
				"Ztand clear.",
				"Lotz of bokzez to ztack today.",
				"Vatch your ztep in ze cargo bay, vizitor.",
				"Hangar zpaze iz limited. If you need to tranzport goodz, zpeak vith ze quartermazter.",
				"I'm on duty, zorry."
			],
			
			"nicemice" : 
			[
				"Greetinkz, Adjutant!",
				"Adjutant!",
				"Logiztikz offizer reportink for duty, Adjutant!",
				"Need zomet'ink ztacked, Adjutant?",
				"Avaiting orderz, Adjutant!"
			]
		}
	}
}