{
	"nicemice_maus_captainscap": {
		"any": {
			"flower": "nicemice_maus_captainscap_any_flower"
		},
		"mouse": {
			"any": "nicemice_maus_captainscap_mouse",
			"flower": "nicemice_maus_captainscap_mouse_flower"
		},
		"bigmouse": {
			"any": "nicemice_maus_captainscap_bigmouse",
			"flower": "nicemice_maus_captainscap_bigmouse_flower"
		},
		"chua": {
			"any": "nicemice_maus_captainscap_chua",
			"flower": "nicemice_maus_captainscap_chua_flower"
		},
		"chuadown": {
			"any": "nicemice_maus_captainscap_chuadown",
			"flower": "nicemice_maus_captainscap_chuadown_flower"
		},
		"jerboa": {
			"any": "nicemice_maus_captainscap_jerboa",
			"flower": "nicemice_maus_captainscap_jerboa_flower"
		},
		"largefolded": {
			"any": "nicemice_maus_captainscap_largefolded",
			"flower": "nicemice_maus_captainscap_largefolded_flower"
		},
		"wing": {
			"any": "nicemice_maus_captainscap_wing",
			"flower": "nicemice_maus_captainscap_wing_flower"
		},
		"droop": {
			"any": "nicemice_maus_captainscap_droop",
			"flower": "nicemice_maus_captainscap_droop_flower"
		},
		"alert": {
			"any": "nicemice_maus_captainscap_alert",
			"flower": "nicemice_maus_captainscap_alert_flower"
		},
		"burmecian": {
			"any": "nicemice_maus_captainscap_burmecian",
			"flower": "nicemice_maus_captainscap_burmecian_flower"
		},
		"whiplash": {
			"any": "nicemice_maus_captainscap_whiplash",
			"flower": "nicemice_maus_captainscap_whiplash_flower"
		},
		"hexa": {
			"any": "nicemice_maus_captainscap_hexa",
			"flower": "nicemice_maus_captainscap_hexa_flower"
		},
		"bluey": {
			"any": "nicemice_maus_captainscap_bluey",
			"flower": "nicemice_maus_captainscap_bluey_flower"
		}
	},
	"nicemice_maus_captainscap_visor": {
		"any": {
			"flower": "nicemice_maus_captainscap_visor_any_flower"
		},
		"mouse": {
			"any": "nicemice_maus_captainscap_visor_mouse",
			"flower": "nicemice_maus_captainscap_visor_mouse_flower"
		},
		"bigmouse": {
			"any": "nicemice_maus_captainscap_visor_bigmouse",
			"flower": "nicemice_maus_captainscap_visor_bigmouse_flower"
		},
		"chua": {
			"any": "nicemice_maus_captainscap_visor_chua",
			"flower": "nicemice_maus_captainscap_visor_chua_flower"
		},
		"chuadown": {
			"any": "nicemice_maus_captainscap_visor_chuadown",
			"flower": "nicemice_maus_captainscap_visor_chuadown_flower"
		},
		"jerboa": {
			"any": "nicemice_maus_captainscap_visor_jerboa",
			"flower": "nicemice_maus_captainscap_visor_jerboa_flower"
		},
		"largefolded": {
			"any": "nicemice_maus_captainscap_visor_largefolded",
			"flower": "nicemice_maus_captainscap_visor_largefolded_flower"
		},
		"wing": {
			"any": "nicemice_maus_captainscap_visor_wing",
			"flower": "nicemice_maus_captainscap_visor_wing_flower"
		},
		"droop": {
			"any": "nicemice_maus_captainscap_visor_droop",
			"flower": "nicemice_maus_captainscap_visor_droop_flower"
		},
		"alert": {
			"any": "nicemice_maus_captainscap_visor_alert",
			"flower": "nicemice_maus_captainscap_visor_alert_flower"
		},
		"burmecian": {
			"any": "nicemice_maus_captainscap_visor_burmecian",
			"flower": "nicemice_maus_captainscap_visor_burmecian_flower"
		},
		"whiplash": {
			"any": "nicemice_maus_captainscap_visor_whiplash",
			"flower": "nicemice_maus_captainscap_visor_whiplash_flower"
		},
		"hexa": {
			"any": "nicemice_maus_captainscap_visor_hexa",
			"flower": "nicemice_maus_captainscap_visor_hexa_flower"
		},
		"bluey": {
			"any": "nicemice_maus_captainscap_visor_bluey",
			"flower": "nicemice_maus_captainscap_visor_bluey_flower"
		}
	},
	"nicemicetier1head": {
		"any": {
			"whisk": "nicemicetier1head_any_whisk",
			"quiff": "nicemicetier1head_any_quiff",
			"bangs": "nicemicetier1head_any_bangs",
			"bangs2": "nicemicetier1head_any_bangs2",
			"curls": "nicemicetier1head_any_curls",
			"curls2": "nicemicetier1head_any_curls2",
			"swirl": "nicemicetier1head_any_swirl",
			"floop": "nicemicetier1head_any_floop",
			"swoosh": "nicemicetier1head_any_swoosh",
			"flower": "nicemicetier1head_any_flower",
			"long": "nicemicetier1head_any_long",
			"long2": "nicemicetier1head_any_long2"
		}
	},
	"nicemicetier2head": {
		"any": {
			"whisk": "nicemicetier2head_any_whisk",
			"quiff": "nicemicetier2head_any_quiff",
			"bangs": "nicemicetier2head_any_bangs",
			"bangs2": "nicemicetier2head_any_bangs2",
			"curls": "nicemicetier2head_any_curls",
			"curls2": "nicemicetier2head_any_curls2",
			"swirl": "nicemicetier2head_any_swirl",
			"karen": "nicemicetier2head_any_karen",
			"karen2": "nicemicetier2head_any_karen2",
			"floop": "nicemicetier2head_any_floop",
			"swoosh": "nicemicetier2head_any_swoosh",
			"flower": "nicemicetier2head_any_flower",
			"spike": "nicemicetier2head_any_spike",
			"long": "nicemicetier2head_any_long",
			"long2": "nicemicetier2head_any_long2"
		},
		"hexa": {
			"any": "nicemicetier2head_hexa",
			"whisk": "nicemicetier2head_hexa_whisk",
			"quiff": "nicemicetier2head_hexa_quiff",
			"bangs": "nicemicetier2head_hexa_bangs",
			"bangs2": "nicemicetier2head_hexa_bangs2",
			"curls": "nicemicetier2head_hexa_curls",
			"curls2": "nicemicetier2head_hexa_curls2",
			"swirl": "nicemicetier2head_hexa_swirl",
			"karen": "nicemicetier2head_hexa_karen",
			"karen2": "nicemicetier2head_hexa_karen2",
			"floop": "nicemicetier2head_hexa_floop",
			"swoosh": "nicemicetier2head_hexa_swoosh",
			"flower": "nicemicetier2head_hexa_flower",
			"spike": "nicemicetier2head_hexa_spike",
			"long": "nicemicetier2head_hexa_long",
			"long2": "nicemicetier2head_hexa_long2"
		},
		"bluey": {
			"any": "nicemicetier2head_bluey",
			"whisk": "nicemicetier2head_bluey_whisk",
			"quiff": "nicemicetier2head_bluey_quiff",
			"bangs": "nicemicetier2head_bluey_bangs",
			"bangs2": "nicemicetier2head_bluey_bangs2",
			"curls": "nicemicetier2head_bluey_curls",
			"curls2": "nicemicetier2head_bluey_curls2",
			"swirl": "nicemicetier2head_bluey_swirl",
			"karen": "nicemicetier2head_bluey_karen",
			"karen2": "nicemicetier2head_bluey_karen2",
			"floop": "nicemicetier2head_bluey_floop",
			"swoosh": "nicemicetier2head_bluey_swoosh",
			"flower": "nicemicetier2head_bluey_flower",
			"spike": "nicemicetier2head_bluey_spike",
			"long": "nicemicetier2head_bluey_long",
			"long2": "nicemicetier2head_bluey_long2"
		}
	},
	"nicemicetier3head": {
		"any": {
			"whisk": "nicemicetier3head_any_whisk",
			"quiff": "nicemicetier3head_any_quiff",
			"bangs": "nicemicetier3head_any_bangs",
			"bangs2": "nicemicetier3head_any_bangs2",
			"curls": "nicemicetier3head_any_curls",
			"curls2": "nicemicetier3head_any_curls2",
			"swirl": "nicemicetier3head_any_swirl",
			"karen": "nicemicetier3head_any_karen",
			"karen2": "nicemicetier3head_any_karen2",
			"floop": "nicemicetier3head_any_floop",
			"swoosh": "nicemicetier3head_any_swoosh",
			"flower": "nicemicetier3head_any_flower",
			"long": "nicemicetier3head_any_long",
			"long2": "nicemicetier3head_any_long2"
		}
	},
	"nicemicetier4head": {
		"mouse": {
			"any": "nicemicetier4head_mouse"
		},
		"bigmouse": {
			"any": "nicemicetier4head_bigmouse"
		},
		"chua": {
			"any": "nicemicetier4head_chua"
		},
		"chuadown": {
			"any": "nicemicetier4head_chuadown"
		},
		"jerboa": {
			"any": "nicemicetier4head_jerboa"
		},
		"largefolded": {
			"any": "nicemicetier4head_largefolded"
		},
		"wing": {
			"any": "nicemicetier4head_wing"
		},
		"droop": {
			"any": "nicemicetier4head_droop"
		},
		"alert": {
			"any": "nicemicetier4head_alert"
		},
		"burmecian": {
			"any": "nicemicetier4head_burmecian"
		},
		"whiplash": {
			"any": "nicemicetier4head_whiplash"
		},
		"hexa": {
			"any": "nicemicetier4head_hexa"
		},
		"bluey": {
			"any": "nicemicetier4head_bluey"
		}
	},
	"nicemicetier5mhead": {},
	"nicemicetier6mhead": {}
}
