{
	"nicemice_maus_captainscap_visor": {
		"mouse": {
			"any": "nicemice_maus_captainscap_visor_mouse"
		},
		"bigmouse": {
			"any": "nicemice_maus_captainscap_visor_bigmouse"
		},
		"chua": {
			"any": "nicemice_maus_captainscap_visor_chua"
		},
		"chuadown": {
			"any": "nicemice_maus_captainscap_visor_chuadown"
		},
		"jerboa": {
			"any": "nicemice_maus_captainscap_visor_jerboa"
		},
		"largefolded": {
			"any": "nicemice_maus_captainscap_visor_largefolded"
		},
		"wing": {
			"any": "nicemice_maus_captainscap_visor_wing"
		},
		"droop": {
			"any": "nicemice_maus_captainscap_visor_droop"
		},
		"alert": {
			"any": "nicemice_maus_captainscap_visor_alert"
		},
		"burmecian": {
			"any": "nicemice_maus_captainscap_visor_burmecian"
		},
		"whiplash": {
			"any": "nicemice_maus_captainscap_visor_whiplash"
		},
		"hexa": {
			"any": "nicemice_maus_captainscap_visor_hexa"
		},
		"bluey": {
			"any": "nicemice_maus_captainscap_visor_bluey"
		}
	},
	"nicemicetier2head": {
		"any": {
			"whisk": "nicemicetier2head_any_whisk",
			"quiff": "nicemicetier2head_any_quiff",
			"bangs": "nicemicetier2head_any_bangs",
			"bangs2": "nicemicetier2head_any_bangs2",
			"curls": "nicemicetier2head_any_curls",
			"curls2": "nicemicetier2head_any_curls2",
			"swirl": "nicemicetier2head_any_swirl",
			"karen": "nicemicetier2head_any_karen",
			"karen2": "nicemicetier2head_any_karen2",
			"floop": "nicemicetier2head_any_floop",
			"swoosh": "nicemicetier2head_any_swoosh",
			"flower": "nicemicetier2head_any_flower",
			"spike": "nicemicetier2head_any_spike",
			"long": "nicemicetier2head_any_long",
			"long2": "nicemicetier2head_any_long2"
		},
		"hexa": {
			"any": "nicemicetier2head_hexa",
			"whisk": "nicemicetier2head_hexa_whisk",
			"quiff": "nicemicetier2head_hexa_quiff",
			"bangs": "nicemicetier2head_hexa_bangs",
			"bangs2": "nicemicetier2head_hexa_bangs2",
			"curls": "nicemicetier2head_hexa_curls",
			"curls2": "nicemicetier2head_hexa_curls2",
			"swirl": "nicemicetier2head_hexa_swirl",
			"karen": "nicemicetier2head_hexa_karen",
			"karen2": "nicemicetier2head_hexa_karen2",
			"floop": "nicemicetier2head_hexa_floop",
			"swoosh": "nicemicetier2head_hexa_swoosh",
			"flower": "nicemicetier2head_hexa_flower",
			"spike": "nicemicetier2head_hexa_spike",
			"long": "nicemicetier2head_hexa_long",
			"long2": "nicemicetier2head_hexa_long2"
		},
		"bluey": {
			"any": "nicemicetier2head_bluey",
			"whisk": "nicemicetier2head_bluey_whisk",
			"quiff": "nicemicetier2head_bluey_quiff",
			"bangs": "nicemicetier2head_bluey_bangs",
			"bangs2": "nicemicetier2head_bluey_bangs2",
			"curls": "nicemicetier2head_bluey_curls",
			"curls2": "nicemicetier2head_bluey_curls2",
			"swirl": "nicemicetier2head_bluey_swirl",
			"karen": "nicemicetier2head_bluey_karen",
			"karen2": "nicemicetier2head_bluey_karen2",
			"floop": "nicemicetier2head_bluey_floop",
			"swoosh": "nicemicetier2head_bluey_swoosh",
			"flower": "nicemicetier2head_bluey_flower",
			"spike": "nicemicetier2head_bluey_spike",
			"long": "nicemicetier2head_bluey_long",
			"long2": "nicemicetier2head_bluey_long2"
		}
	}
}
