{
	"nicemice_maus_captainscap_visor": {
		"mouse": {
			"any": "nicemice_maus_captainscap_visor_mouse"
		},
		"bigmouse": {
			"any": "nicemice_maus_captainscap_visor_bigmouse"
		},
		"chua": {
			"any": "nicemice_maus_captainscap_visor_chua"
		},
		"chuadown": {
			"any": "nicemice_maus_captainscap_visor_chuadown"
		},
		"jerboa": {
			"any": "nicemice_maus_captainscap_visor_jerboa"
		},
		"largefolded": {
			"any": "nicemice_maus_captainscap_visor_largefolded"
		},
		"alert": {
			"any": "nicemice_maus_captainscap_visor_alert"
		},
		"burmecian": {
			"any": "nicemice_maus_captainscap_visor_burmecian"
		},
		"hexa": {
			"any": "nicemice_maus_captainscap_visor_hexa"
		},
		"bluey": {
			"any": "nicemice_maus_captainscap_visor_bluey"
		}
	}
}
